.env
.env.*
!.env.example

.DS_Store

backups/*
!backups/.gitkeep

content/*
!content/uploads/
!content/plugins/
!content/themes/
!content/mu-plugins/
content/uploads/*
content/plugins/*
content/themes/*
content/mu-plugins/*
!content/uploads/.gitkeep
!content/plugins/.gitkeep
!content/themes/.gitkeep
!content/mu-plugins/.gitkeep

*.log
tmp/
